
	/*
	CSS Reset
	*/
	* {

	}

	html {
	scroll-behavior: smooth;
	}

	#about {
		background-image: url("https://cdn.pixabay.com/photo/2016/10/18/19/42/abstract-1751204_960_720.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}