* {
	font-family: 'Roboto Flex', sans-serif;
}

#About {
	background-image: 
		linear-gradient(rgba(96, 103, 106, 0.32), rgba(96, 103, 106, 0.32)),
		url(https://images.pexels.com/photos/326957/pexels-photo-326957.jpeg?cs=srgb&dl=pexels-pixabay-326957.jpg&fm=jpg)
	;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

h1,h2,h3,h4, .navbar-brand {
	font-family: 'Roboto Flex', sans-serif;
}

#tools {
	background-image: 
		linear-gradient(rgba(96, 103, 106, 0.32), rgba(96, 103, 106, 0.32)),
		url(https://images.unsplash.com/photo-1614871120696-eb15aa5860f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
	;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

}

}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  height:80%;
  width:100%;
  position:absolute;
}

html {
	scroll-behavior: smooth;
}